@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
.zdj {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  margin: 0% 1% 0% 1%;
  padding-bottom: 1rem;
}

.zdj .zdj1 {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-right: auto;
  width: 80%;
  pointer-events: none;
}

.zdj .zdj2 {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-left: auto;
  width: 80%;
  pointer-events: none;
}

.zdj #menu li {
  background-color: rgba(237, 255, 234, 0.4);
  border-radius: 5px;
  border-style: solid;
  width: 100%;
}

.zdj #navMain ul {
  padding: 0;
  margin: 0;
  z-index: 2;
}

.zdj #navMain ul li {
  margin-right: 5px;
  text-align: center;
}

.zdj #navMain li a {
  display: block;
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.zdj #navMain li:hover > .a1 {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%) blur(1px);
  -webkit-filter: gray;
          filter: gray;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: scaleX(1.01) translateX(1px);
          transform: scaleX(1.01) translateX(1px);
}

.zdj #navMain ul li:last-child {
  margin-bottom: 0px;
}

.zdj #navMain li {
  position: relative;
  float: left;
  list-style: none;
  padding: 0;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.zdj #navMain ul ul {
  position: absolute;
  top: 20px;
  display: none;
}

.zdj #navMain ul li ul li {
  margin-right: 0px;
  text-align: center;
  display: block;
  font-size: 3vw;
}

.zdj #navMain ul li ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.zdj #navMain ul li:hover ul {
  display: inline-block;
  -webkit-animation: alternate 3s;
          animation: alternate 3s;
}

.zdj #navMain #menu {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.zdj #menu li:hover {
  background: rgba(255, 64, 64, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.zdj #navMain2 ul {
  padding: 0;
  margin: 0;
  z-index: 2;
}

.zdj #navMain2 ul li {
  margin-right: 5px;
  text-align: center;
}

.zdj #navMain2 li a {
  display: block;
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.zdj #navMain2 li:hover > .a2 {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%) blur(1px);
  -webkit-filter: gray;
          filter: gray;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: scaleX(1.01) translateX(1px);
          transform: scaleX(1.01) translateX(1px);
}

.zdj #navMain2 ul li:last-child {
  margin-bottom: 0px;
}

.zdj #navMain2 li {
  position: relative;
  float: left;
  list-style: none;
  padding: 0;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.zdj #navMain2 ul ul {
  position: absolute;
  top: 20px;
  display: none;
}

.zdj #navMain2 ul li ul li {
  margin-right: 0px;
  text-align: center;
  display: block;
  font-size: 3vw;
}

.zdj #navMain2 ul li ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.zdj #navMain2 ul li:hover ul {
  display: inline-block;
  -webkit-animation: alternate 3s;
          animation: alternate 3s;
}

.zdj #navMain2 #menu {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c9d0e060;
}

.header {
  position: relative;
  z-index: 1;
  text-align: center;
  background: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 2vw;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  padding-top: 1%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 97%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow-y: auto;
  max-height: calc(100vh - 6%);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    left: 300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    left: 300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close,
.close1 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1px 16px;
  background-color: #162f1650;
  color: white;
  width: auto;
  text-align: center;
}

#one {
  font-size: 3vw;
  text-align: left;
  margin: 6.7%;
  overflow-wrap: break-word;
}

/*
=============== 
Fonts
===============
*/
/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
/*
=============== 
Menu
===============
*/
.menu {
  padding: 5rem 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-gold);
  margin-left: auto;
  margin-right: auto;
}

.btn-container {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: auto;
}

.filter-btn {
  background: transparent;
  border-color: var(--clr-gold);
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0.5rem;
  letter-spacing: 1px;
  border-radius: var(--radius);
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.filter-btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}

.section-center,
.section-center1 {
  width: 90vw;
  margin: 1% auto;
  max-width: 1070px;
  max-height: 50%;
  display: -ms-grid;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  padding: 2px 16px;
}

.menu-item {
  gap: 1rem 2rem;
  max-width: 20rem;
}

.photo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
}

.item-info header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}

.item-info h4 {
  margin-bottom: 0.5rem;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    -ms-grid-columns: 225px 1fr;
        grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}

@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}

.ghj {
  color: rgba(174, 214, 224, 0.215);
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background: #252a47;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 50px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*! PhotoSwipe main CSS by Dmytro Semenov | photoswipe.com */
.pswp {
  --pswp-bg: #000;
  --pswp-placeholder-bg: #222;
  --pswp-root-z-index: 100000;
  --pswp-preloader-color: rgba(79, 79, 79, 0.4);
  --pswp-preloader-color-secondary: rgba(255, 255, 255, 0.9);
  /* defined via js:
    --pswp-transition-duration: 333ms; */
  --pswp-icon-color: #fff;
  --pswp-icon-color-secondary: #4f4f4f;
  --pswp-icon-stroke-color: #4f4f4f;
  --pswp-icon-stroke-width: 2px;
  --pswp-error-text-color: var(--pswp-icon-color);
}

/*
      Styles for basic PhotoSwipe (pswp) functionality (sliding area, open/close transitions)
  */
.pswp {
  position: fixed;
  z-index: var(--pswp-root-z-index);
  display: none;
  -ms-touch-action: none;
      touch-action: none;
  outline: 0;
  opacity: 0.003;
  contain: layout style size;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Prevents focus outline on the root element,
    (it may be focused initially) */
.pswp:focus {
  outline: 0;
}

.pswp * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pswp img {
  max-width: none;
}

.pswp--open {
  display: block;
}

.pswp,
.pswp__bg {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: opacity;
}

.pswp__bg {
  opacity: 0.005;
  background: var(--pswp-bg);
}

.pswp,
.pswp__scroll-wrap {
  overflow: hidden;
}

.pswp,
.pswp__scroll-wrap,
.pswp__bg,
.pswp__container,
.pswp__item,
.pswp__content,
.pswp__img,
.pswp__zoom-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pswp {
  position: fixed;
}

.pswp__img,
.pswp__zoom-wrap {
  width: auto;
  height: auto;
}

.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* :active to override grabbing cursor */
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img,
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img:active,
.pswp__img {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img,
.pswp__button,
.pswp__counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pswp__item {
  /* z-index for fade transition */
  z-index: 1;
  overflow: hidden;
}

.pswp__hidden {
  display: none !important;
}

/* Allow to click through pswp__content element, but not its children */
.pswp__content {
  pointer-events: none;
}

.pswp__content > * {
  pointer-events: auto;
}

/*
  
    PhotoSwipe UI
  
  */
/*
      Error message appears when image is not loaded
      (JS option errorMsg controls markup)
  */
.pswp__error-msg-container {
  display: -ms-grid;
  display: grid;
}

.pswp__error-msg {
  margin: auto;
  font-size: 1em;
  line-height: 1;
  color: var(--pswp-error-text-color);
}

/*
  class pswp__hide-on-close is applied to elements that
  should hide (for example fade out) when PhotoSwipe is closed
  and show (for example fade in) when PhotoSwipe is opened
   */
.pswp .pswp__hide-on-close {
  opacity: 0.005;
  will-change: opacity;
  -webkit-transition: opacity var(--pswp-transition-duration) cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity var(--pswp-transition-duration) cubic-bezier(0.4, 0, 0.22, 1);
  z-index: 10;
  /* always overlap slide content */
  pointer-events: none;
  /* hidden elements should not be clickable */
}

/* class pswp--ui-visible is added when opening or closing transition starts */
.pswp--ui-visible .pswp__hide-on-close {
  opacity: 1;
  pointer-events: auto;
}

/* <button> styles, including css reset */
.pswp__button {
  position: relative;
  display: block;
  width: 50px;
  height: 60px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.85;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
}

.pswp__button:hover,
.pswp__button:active,
.pswp__button:focus {
  -webkit-transition: none;
  transition: none;
  padding: 0;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 1;
}

.pswp__button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.pswp__icn {
  fill: var(--pswp-icon-color);
  color: var(--pswp-icon-color-secondary);
}

.pswp__icn {
  position: absolute;
  top: 14px;
  left: 9px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  pointer-events: none;
}

.pswp__icn-shadow {
  stroke: var(--pswp-icon-stroke-color);
  stroke-width: var(--pswp-icon-stroke-width);
  fill: none;
}

.pswp__icn:focus {
  outline: 0;
}

/*
      div element that matches size of large image,
      large image loads on top of it,
      used when msrc is not provided
  */
div.pswp__img--placeholder,
.pswp__img--with-bg {
  background: var(--pswp-placeholder-bg);
}

.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
  /* allow events to pass through top bar itself */
  pointer-events: none !important;
}

.pswp__top-bar > * {
  pointer-events: auto;
  /* this makes transition significantly more smooth,
       even though inner elements are not animated */
  will-change: opacity;
}

/*
  
    Close button
  
  */
.pswp__button--close {
  margin-right: 6px;
}

/*
  
    Arrow buttons
  
  */
.pswp__button--arrow {
  position: absolute;
  top: 0;
  width: 75px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
}

.pswp__button--arrow:disabled {
  display: none;
  cursor: default;
}

.pswp__button--arrow .pswp__icn {
  top: 50%;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  background: none;
  border-radius: 0;
}

.pswp--one-slide .pswp__button--arrow {
  display: none;
}

/* hide arrows on touch screens */
.pswp--touch .pswp__button--arrow {
  visibility: hidden;
}

/* show arrows only after mouse was used */
.pswp--has_mouse .pswp__button--arrow {
  visibility: visible;
}

.pswp__button--arrow--prev {
  right: auto;
  left: 0px;
}

.pswp__button--arrow--next {
  right: 0px;
}

.pswp__button--arrow--next .pswp__icn {
  left: auto;
  right: 14px;
  /* flip horizontally */
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

/*
  
    Zoom button
  
  */
.pswp__button--zoom {
  display: none;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

/* "+" => "-" */
.pswp--zoomed-in .pswp__zoom-icn-bar-v {
  display: none;
}

/*
  
    Loading indicator
  
  */
.pswp__preloader {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 60px;
  margin-right: auto;
}

.pswp__preloader .pswp__icn {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-animation: pswp-clockwise 600ms linear infinite;
          animation: pswp-clockwise 600ms linear infinite;
}

.pswp__preloader--active .pswp__icn {
  opacity: 0.85;
}

@-webkit-keyframes pswp-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes pswp-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*
  
    "1 of 10" counter
  
  */
.pswp__counter {
  height: 30px;
  margin: 15px 0 0 20px;
  font-size: 14px;
  line-height: 30px;
  color: var(--pswp-icon-color);
  text-shadow: 1px 1px 3px var(--pswp-icon-color-secondary);
  opacity: 0.85;
}

.pswp--one-slide .pswp__counter {
  display: none;
}

.pswp__dynamic-caption {
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: opacity 120ms linear !important;
  transition: opacity 120ms linear !important;
  /* override default */
  font-size: 24px;
}

.pswp-caption-content {
  display: none;
}

.pswp__dynamic-caption a {
  color: #fff;
}

.pswp__dynamic-caption--faded {
  opacity: 0 !important;
}

.pswp__dynamic-caption--aside {
  width: auto;
  max-width: 300px;
  padding: 20px 15px 20px 100px;
  margin-top: 70px;
}

.pswp__dynamic-caption--below {
  width: auto;
  max-width: 700px;
  padding: 15px 0 0;
}

.pswp__dynamic-caption--on-hor-edge {
  padding-left: 15px;
  padding-right: 15px;
}

.pswp__dynamic-caption--mobile {
  width: 100%;
  top: auto;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}
/*# sourceMappingURL=style.css.map */